
  body {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0.5rem 0 0 0;
      padding: 0;
      background: #FFE000;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #799F0C, #FFE000);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #799F0C, #FFE000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      background-image:url(nightsky.jpg) ;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
  }

.topnav {
    background-color: #333;
    overflow: hidden;
    width: 90%;
    margin: .5rem auto;
    border: inset 1px black;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
  }
  
  .topnav a {
    float: left;
    color: #DBDBDB;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a.active {
    background-color: #67E0BF;
    color: #DBDBDB;
    font-weight: bold;
  }

  .topnav i{
    color: #67E0BF;
    float: right;
    margin-right: 1rem;
    margin-top: 0.5rem;
  }

.topnav a {
    line-height: 1.8rem;
    padding: .5rem .8rem;
}

.topnav a:hover {
    color: #546A7B;
    background-color: #DBDBDB
}

  header{
    width: 30%;
      height: 70px;
      margin-right: 25%;
      margin-left: 25%;
      background-color: rgba(255, 255, 255, 0.18);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 3);
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      margin: 1rem auto;
      padding-bottom: 1rem ;
      border-radius: 10px;
  }

  header:before{
      width: 100%;
      height: 100%;
      background-image:url(nightsky.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      -webkit-filter: blur(1px);
  }

  audio{float: inline-start;
    margin-top: 1rem;
  }

  .wrapper{
      width: 70%;
      margin: 0 auto;
      padding: 1rem;
      display: flex;
      flex-flow: row nowrap;
      background: #0F2027;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      border: 1px solid #67E0BF;
      border-radius: 10px;
      color: whitesmoke;
     }
  
  h1{
      font-family: 'Amatic SC', cursive;
      font-size: 2.5rem;
      background-image:url(nightsky.jpg) ;
      border: 2px solid whitesmoke;
      border-radius:  30px;
      text-align: center;
      color: whitesmoke;    
      background-color: rgba(255, 255, 255, 0.18);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 3);
  }
  
  h3{
      font-family: 'Amatic SC', cursive;
      font-size: 1.5rem;
  }
  
  p, [for="abtype"] {
      margin-bottom: 1rem;
      margin-top: 2rem;
      /*margin 2rem 0 0 0*/
  }
  section {
      flex-basis: 57%;
      margin-right: 10%;
  }
  aside {
      flex-basis: 30%;
      margin: 20% 3% 30% 0;
      padding: 1rem;
      border: 1px solid #67E0BF;
      background-color: rgba(255, 255, 255, 0.18);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 3);
      color: whitesmoke;
  }

  aside:hover{border: 1px solid whitesmoke;
    color: #67E0BF;
  }

  address{ margin: 1rem;

  }
  
  fieldset{
      border: 1px solid #67E0BF;
      border-radius: 10px;
      margin-bottom: 2rem;
      color: whitesmoke;
  }
  
  fieldset:hover{ border: 1px solid whitesmoke;
    color: #67E0BF;
    
  }

  legend{ 
      font-weight: bold;
      font-size: 1.5rem;
      margin: 1.5rem 0 1rem 0;
      font-family: 'Amatic SC', cursive;
  }
  
  label{ display: block;
      padding-bottom: 0.3rem;
  }
  
  textarea{
      height: 10rem;
      padding: 1rem ;
  }
  
  select{ font-size: 1rem ;
  }
  
  button{
      font-size: 1.2rem;
      margin: 1.5rem 0;
      background-color: #4a00e0;
      color: whitesmoke;
      border: 1px solid black;
      padding: 0.5rem 1rem;
      border-radius: 10px;
      text-align: center;
  }
  
  button:hover {
      background-color: white;
      color: #4a00e0;
  }
  
  input:not([type="radio"]):not([type="checkbox"]), textarea, select{
      display: block;
      margin-bottom: 1rem;
      width: 20rem;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 1rem;
      padding: 0 1rem;	
      border-radius: 10px; 
      border: none ;
  }

  .pagefooter{
    width: 50%;
    margin: .5rem auto;
    background: #333;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border: 2px solid #67E0BF;
    
}
.copyright {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: .1rem;
    font-style: oblique;
    float: left;
    clear: both;
    padding: 0.5rem;
    color: whitesmoke;
    margin: .5rem 3rem .5rem 1rem;
    line-height: 1.5rem;
    border-right: 2px solid  #67E0BF; 
    padding-right: 4rem;
    font-size: 1.05rem;
}

.pagefooter img{
    border: 1px groove #67E0BF;
    float: right;
    clear: both;
    margin: .5rem 1rem .5rem 3rem;
}

.copyright a{
    color: #67E0BF;
}
.copyright a:hover{
    color:  white;
}

.copyright a:visited{
    color: #67E0BF;
}
.copyright a:visited:hover{
    color:  white;
}

.wrapper:before {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
}